## Purpose: Merge the datasets and clean.

### STEP1: Read in datasets. Remove data before 1905 and from 1994.

In [1]:
# import dependencies
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
# read in datasets.
ws_winners = pd.read_csv("../Resources/world_series_winners.csv")
hitting_data = pd.read_csv("../Resources/hitting_data.csv")
pitching_data = pd.read_csv("../Resources/pitching_data.csv")
fielding_data = pd.read_csv("../Resources/fielding_data.csv")

#### ws_winners

In [3]:
# inspect ws_winners dataset. Rename the columns.
del ws_winners["Unnamed: 0"]
ws_winners.columns = ["year", "team"]

In [4]:
# drop data before 1905. Remove 1994 too.
ws_winners = ws_winners.loc[(ws_winners["year"] >= 1905) & (ws_winners["year"] != 1994)]
ws_winners.head()

   year                  team
0  2018        Boston Red Sox
1  2017        Houston Astros
2  2016          Chicago Cubs
3  2015    Kansas City Royals
4  2014  San Francisco Giants

#### hitting_data

In [5]:
# inspect hitting_data dataset.
del hitting_data["Unnamed: 0"]

In [6]:
# move the columns around.
cols = hitting_data.columns.tolist()
cols = cols[-2:] + cols[:-2]
hitting_data = hitting_data[cols]

In [7]:
# drop data before 1905. Make sure that 1994 is gone too.
hitting_data = hitting_data.loc[(hitting_data["year"] >= 1905) & (hitting_data["year"] != 1994)]
hitting_data.head()

,team,year,2B,3B,AB,AO,BB,CS,G,GDP,...,PA,R,RBI,SAC,SB,SF,SLG,SO,TB,XBH
0,Boston Red Sox,2019,233,18,3788,968,398,18,106,88,...,4260,620,589,12,54,29,0.476,885,1802,413
1,Minnesota Twins,2019,212,14,3685,1036,328,17,104,70,...,4108,593,570,7,24,28,0.500,832,1841,427
2,New York Yankees,2019,175,11,3567,867,383,16,104,77,...,4017,601,573,10,38,26,0.473,923,1686,361
3,Houston Astros,2019,200,15,3635,1021,403,20,106,97,...,4132,554,541,7,48,44,0.475,759,1726,387
4,Pittsburgh Pirates,2019,216,21,3643,854,274,15,104,77,...,4009,479,471,32,36,21,0.425,811,1548,343

#### pitching_data

In [8]:
# inspect pitching_data dataset.
del pitching_data["Unnamed: 0"]

In [9]:
# move the columns around.
cols = pitching_data.columns.tolist()
cols = cols[-2:] + cols[:-2]
pitching_data = pitching_data[cols]
pitching_data.head()

,team,year,AO1,BB1,BK,CG,CS1,ER,ERA,G1,...,SHO,SLG1,SO1,SV,SVO,TBF,W,WHIP,WP,WPCT
0,Colorado Rockies,2019,829,358,4,1,17,574,5.48,105,...,4,.479,840,19,34,4162,49,1.47,44,0.467
1,Detroit Tigers,2019,900,325,5,0,26,517,5.19,101,...,2,.474,824,22,38,3949,30,1.44,37,0.300
2,Kansas City Royals,2019,913,378,3,1,15,516,4.96,106,...,5,.447,816,24,41,4125,39,1.46,34,0.368
3,Texas Rangers,2019,956,360,2,3,13,517,4.98,105,...,4,.464,899,22,31,4098,53,1.43,45,0.505
4,Seattle Mariners,2019,1001,337,3,2,14,554,5.21,108,...,2,.479,829,22,40,4204,45,1.41,45,0.417

In [10]:
# drop data before 1905. Make sure that 1994 is gone too.
pitching_data = pitching_data.loc[(pitching_data["year"] >= 1905) & (pitching_data["year"] != 1994)]
pitching_data.head()

,team,year,AO1,BB1,BK,CG,CS1,ER,ERA,G1,...,SHO,SLG1,SO1,SV,SVO,TBF,W,WHIP,WP,WPCT
0,Colorado Rockies,2019,829,358,4,1,17,574,5.48,105,...,4,.479,840,19,34,4162,49,1.47,44,0.467
1,Detroit Tigers,2019,900,325,5,0,26,517,5.19,101,...,2,.474,824,22,38,3949,30,1.44,37,0.300
2,Kansas City Royals,2019,913,378,3,1,15,516,4.96,106,...,5,.447,816,24,41,4125,39,1.46,34,0.368
3,Texas Rangers,2019,956,360,2,3,13,517,4.98,105,...,4,.464,899,22,31,4098,53,1.43,45,0.505
4,Seattle Mariners,2019,1001,337,3,2,14,554,5.21,108,...,2,.479,829,22,40,4204,45,1.41,45,0.417

#### fielding_data

In [11]:
# inspect fielding_data dataset.
del fielding_data["Unnamed: 0"]

In [12]:
# move the columns around.
cols = fielding_data.columns.tolist()
cols = cols[-2:] + cols[:-2]
fielding_data = fielding_data[cols]

In [13]:
# drop data before 1905. Make sure that 1994 is gone too.
fielding_data = fielding_data.loc[(fielding_data["year"] >= 1905) & (fielding_data["year"] != 1994)]
fielding_data.head()

,team,year,A,CS2,C_WP,DER,DP,E,G2,GS2,INN,PB,PO,SB2,SBPCT,TC
0,St. Louis Cardinals,2019,1033,15,21,.706,114,43,104,936,8313.0,3,2771,20,.571,3847
1,Arizona Diamondbacks,2019,1010,21,35,.699,83,45,105,945,8538.0,2,2846,26,.553,3901
2,Kansas City Royals,2019,990,15,34,.679,105,45,106,954,8421.0,6,2807,38,.717,3842
3,Houston Astros,2019,875,13,31,.725,54,50,106,954,8589.0,6,2863,55,.809,3788
4,Tampa Bay Rays,2019,975,23,40,.704,92,53,107,963,8760.0,11,2920,46,.667,3948

### STEP2: Merge the datasets.

In [14]:
# merge fielding_data and hitting_data on year and team.
fielding_hitting_merge = pd.merge(fielding_data, hitting_data, on=["team", "year"], how="left")
fielding_hitting_merge.head()

,team,year,A,CS2,C_WP,DER,DP,E,G2,GS2,...,PA,R,RBI,SAC,SB,SF,SLG,SO,TB,XBH
0,St. Louis Cardinals,2019,1033,15,21,.706,114,43,104,936,...,3936,479,452,26,68,24,0.410,883,1434,302
1,Arizona Diamondbacks,2019,1010,21,35,.699,83,45,105,945,...,4127,542,519,19,59,30,0.447,883,1651,376
2,Kansas City Royals,2019,990,15,34,.679,105,45,106,954,...,3994,456,434,17,91,28,0.401,910,1444,317
3,Houston Astros,2019,875,13,31,.725,54,50,106,954,...,4132,554,541,7,48,44,0.475,759,1726,387
4,Tampa Bay Rays,2019,975,23,40,.704,92,53,107,963,...,4149,489,464,6,65,19,0.425,1004,1579,352

In [15]:
# merge fielding_hitting_merge with pitching_data.
team_data = pd.merge(fielding_hitting_merge, pitching_data, on=["team", "year"], how="left")
team_data.head()

,team,year,A,CS2,C_WP,DER,DP,E,G2,GS2,...,SHO,SLG1,SO1,SV,SVO,TBF,W,WHIP,WP,WPCT
0,St. Louis Cardinals,2019,1033,15,21,.706,114,43,104,936,...,4,.415,895,33,42,3896,56,1.29,21,0.538
1,Arizona Diamondbacks,2019,1010,21,35,.699,83,45,105,945,...,7,.424,925,24,37,4001,53,1.28,35,0.505
2,Kansas City Royals,2019,990,15,34,.679,105,45,106,954,...,5,.447,816,24,41,4125,39,1.46,34,0.368
3,Houston Astros,2019,875,13,31,.725,54,50,106,954,...,7,.403,1074,27,42,3929,67,1.14,31,0.632
4,Tampa Bay Rays,2019,975,23,40,.704,92,53,107,963,...,6,.375,1037,26,43,3985,59,1.16,40,0.551

### STEP3: Add the winner column.

In [16]:
# find number of rows for ws_winners and team_data.
no_rows_ws_winners = len(ws_winners.index)
no_rows_team_data = len(team_data.index)

In [17]:
# add 0's for 2019 data. 
# if ws winner, 1. if not, 0.
winners = []

for thing in range(30):
    winners.append(0)
    
for win in range(no_rows_ws_winners):
    for row in range(30, no_rows_team_data):
        if team_data["year"][row] == ws_winners["year"][win] and team_data["team"][row] == ws_winners["team"][win]:
            winners.append(1)
        elif team_data["year"][row] == ws_winners["year"][win] and team_data["team"][row] != ws_winners["team"][win]:
            winners.append(0)

In [18]:
team_data["winners"] = winners
team_data.head()

,team,year,A,CS2,C_WP,DER,DP,E,G2,GS2,...,SLG1,SO1,SV,SVO,TBF,W,WHIP,WP,WPCT,winners
0,St. Louis Cardinals,2019,1033,15,21,.706,114,43,104,936,...,.415,895,33,42,3896,56,1.29,21,0.538,0
1,Arizona Diamondbacks,2019,1010,21,35,.699,83,45,105,945,...,.424,925,24,37,4001,53,1.28,35,0.505,0
2,Kansas City Royals,2019,990,15,34,.679,105,45,106,954,...,.447,816,24,41,4125,39,1.46,34,0.368,0
3,Houston Astros,2019,875,13,31,.725,54,50,106,954,...,.403,1074,27,42,3929,67,1.14,31,0.632,0
4,Tampa Bay Rays,2019,975,23,40,.704,92,53,107,963,...,.375,1037,26,43,3985,59,1.16,40,0.551,0

### STEP4: Remove columns that have too many missing values

In [19]:
# missing data is seen as a dash. Find the column that has the dash,
# count them up, put them into a dictionary.
cols_to_delete = {}
for thing in list(team_data.columns):
    a = team_data[team_data[thing].astype(str).str.contains("-")][thing].count()
    if a > 1:
        cols_to_delete[thing] = np.sum(a)
pprint (cols_to_delete)

{'AO1': 1864,
 'CS': 391,
 'CS1': 1864,
 'CS2': 1784,
 'C_WP': 1804,
 'DER': 1804,
 'GDP': 496,
 'GIDP': 1864,
 'GO': 1804,
 'GO1': 1864,
 'GO_AO': 1804,
 'GO_AO1': 1864,
 'HLD': 1804,
 'IBB': 800,
 'IBB1': 800,
 'NP_y': 1864,
 'OPS_y': 1864,
 'PK': 1864,
 'SB1': 1864,
 'SB2': 1784,
 'SBPCT': 1804,
 'SF': 784,
 'SLG1': 1864,
 'SO': 88,
 'SVO': 1054}

In [20]:
# remove columns with missing values.
for thing in list(cols_to_delete.keys()):
    team_data = team_data.drop(thing, axis=1)