## Purpose: Get the stats for hitting per year (1876-2019).

In [1]:
# import dependencies.
import time
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# set up driver.
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
# Grab the data into lists.
hitting_data = []

for year in range(2019, 1875, -1):
    year = str(year)
    url = "http://mlb.mlb.com/stats/sortable.jsp#elem=%5Bobject+Object%5D&tab_level=child&click_text=Sortable+Team+hitting&game_type='R'&season="+year+"&season_type=ANY&league_code='MLB'&sectionType=st&statType=hitting&page=1&ts=1564257552743&playerType=QUALIFIER&sportCode='mlb'&split=&team_id=&active_sw=&position=&page_type=SortablePlayer&sortOrder='desc'&sortColumn=avg&results=&perPage=50&timeframe=&last_x_days=&extended=0"

    browser.visit(url)
    html = browser.html
    soup = bs(html, "html.parser")
    a = soup.find("tbody")
    time.sleep(20)
    for tr in a:
        team_data = {}
        team_data["year"] = year
        team_data["team"] = tr.find("td", class_="dg-team_full").text
        team_data["G"] = tr.find("td", class_="dg-g").text
        team_data["AB"] = tr.find("td", class_="dg-ab").text
        team_data["R"] = tr.find("td", class_="dg-r").text
        team_data["H"] = tr.find("td", class_="dg-h").text
        team_data["2B"] = tr.find("td", class_="dg-d").text
        team_data["3B"] = tr.find("td", class_="dg-t").text
        team_data["HR"] = tr.find("td", class_ ="dg-hr").text
        team_data["RBI"] = tr.find("td", class_="dg-rbi").text
        team_data["BB"] = tr.find("td", class_="dg-bb").text
        team_data["SO"] = tr.find("td", class_="dg-so").text
        team_data["SB"] = tr.find("td", class_="dg-sb").text
        team_data["CS"] = tr.find("td", class_="dg-cs").text
        team_data["OBP"] = tr.find("td", class_="dg-obp").text
        team_data["SLG"] = tr.find("td", class_="dg-slg").text
        team_data["OPS"] = tr.find("td", class_="dg-ops").text
        team_data["IBB"] = tr.find("td", class_="dg-ibb").text
        team_data["HBP"] = tr.find("td", class_="dg-hbp").text
        team_data["SAC"] = tr.find("td", class_="dg-sac").text
        team_data["SF"] = tr.find("td", class_="dg-sf").text
        team_data["TB"] = tr.find("td", class_="dg-tb").text
        team_data["XBH"] = tr.find("td", class_="dg-xbh").text
        team_data["GDP"] = tr.find("td", class_="dg-gidp").text
        team_data["GO"] = tr.find("td", class_="dg-go").text
        team_data["AO"] = tr.find("td", class_= "dg-ao").text
        team_data["GO_AO"] = tr.find("td", class_="dg-go_ao").text
        team_data["NP"] = tr.find("td", class_="dg-np").text
        team_data["PA"] = tr.find("td", class_="dg-tpa").text
        hitting_data.append(team_data)
        team_data = {}

In [5]:
hitting_data = pd.DataFrame(hitting_data)
hitting_data.head()

,2B,3B,AB,AO,BB,CS,G,GDP,GO,GO_AO,...,RBI,SAC,SB,SF,SLG,SO,TB,XBH,team,year
0,233,18,3788,968,398,18,106,88,929,0.96,...,589,12,54,29,.476,885,1802,413,Boston Red Sox,2019
1,212,14,3685,1036,328,17,104,70,854,0.82,...,570,7,24,28,.500,832,1841,427,Minnesota Twins,2019
2,175,11,3567,867,383,16,104,77,849,0.98,...,573,10,38,26,.473,923,1686,361,New York Yankees,2019
3,200,15,3635,1021,403,20,106,97,926,0.91,...,541,7,48,44,.475,759,1726,387,Houston Astros,2019
4,216,21,3643,854,274,15,104,77,1059,1.24,...,471,32,36,21,.425,811,1548,343,Pittsburgh Pirates,2019

In [6]:
hitting_data.to_csv("../Resources/hitting_data.csv")